@font-face {
  font-family: "Shifty Notes";
  src: url("/fonts/shifty-notes-regular.woff2") format("woff2"),
    url("/fonts/shifty-notes-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Motley Forces";
  src: url("/fonts/motley-forces-regular.woff2") format("woff2"),
    url("/fonts/motley-forces-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Patrick Hand";
  src: url("/fonts/patrick-hand/patrick-hand-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
