$base-dark-purple: #405d52;
$base-purple: #718e7a;
$base-purple-200: #b8c9bd;
$base-pink: #f1e9de;
$base-light-purple: #dce2de;

$base-dark-purple-2: #f1e9de;
$base-purple-2: #405d52;
$base-purple-200-2: #5d756b;
$base-pink-2: #6f4b3e;
$base-light-purple-2: #263a33;

$base-black: #090909;
$base-white: #fdfdfd;

// Mixins
@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
